Repository gemini-hlsw/sbt-lucuma: changes, and which Mergify rules are due for each by the changed paths.
All: Label app PRs, Label core PRs, Label css PRs, Label lib PRs, Label sjs-bundler PRs

Label app PRs:
  label:
    add:
    - app
    remove: []

Label core PRs:
  label:
    add:
    - core
    remove: []

Label css PRs:
  label:
    add:
    - css
    remove: []

Label lib PRs:
  label:
    add:
    - lib
    remove: []

Label sjs-bundler PRs:
  label:
    add:
    - sjs-bundler
    remove: []

add comment and doc
  README.md
  core/src/main/scala/lucuma/sbtplugin/LucumaRequiredChecksPlugin.scala
Due: Label core PRs

change how we read settings to avoid unused warnings
  core/src/main/scala/lucuma/sbtplugin/LucumaAffectedPlugin.scala
Due: Label core PRs

Drop sbt-bundlemon support
  CLAUDE.md
  README.md
  build.sbt
  core/src/main/scala/lucuma/sbtplugin/LucumaBundleMonPlugin.scala
  project/plugins.sbt
Due: Label core PRs

Migrate to sbt 2.0.8 / Scala 3
  .github/workflows/ci.yml
  .mergify.yml
  CLAUDE.md
  README.md
  build.sbt
  core/src/main/scala/lucuma/sbtplugin/LucumaAffectedPlugin.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaRequiredChecksPlugin.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaSlackPlugin.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaWorkflowSyntaxPlugin.scala
  core/src/sbt-test/lucuma-affected/basic/build.sbt
  core/src/sbt-test/lucuma-affected/basic/project/build.properties
  core/src/sbt-test/lucuma-affected/basic/project/plugins.sbt
  core/src/sbt-test/lucuma-affected/gated-job/build.sbt
  core/src/sbt-test/lucuma-affected/gated-job/project/build.properties
  core/src/sbt-test/lucuma-affected/gated-job/project/plugins.sbt
  core/src/sbt-test/lucuma-affected/scalajs/build.sbt
  core/src/sbt-test/lucuma-affected/scalajs/project/build.properties
  core/src/sbt-test/lucuma-affected/scalajs/project/plugins.sbt
  core/src/sbt-test/lucuma-required-checks/basic/build.sbt
  core/src/sbt-test/lucuma-required-checks/basic/project/build.properties
  core/src/sbt-test/lucuma-required-checks/basic/project/plugins.sbt
  core/src/sbt-test/lucuma-slack/basic/build.sbt
  core/src/sbt-test/lucuma-slack/basic/project/build.properties
  core/src/sbt-test/lucuma-slack/basic/project/plugins.sbt
  css/src/main/scala/lucuma/sbtplugin/LucumaCssPlugin.scala
  css/src/sbt-test/lucuma-css/example/build.sbt
  css/src/sbt-test/lucuma-css/example/project/build.properties
  css/src/sbt-test/lucuma-css/example/project/plugins.sbt
  css/src/sbt-test/lucuma-css/example/test
  docker/src/main/scala/lucuma/sbtplugin/LucumaDockerPlugin.scala
  project/build.properties
  project/plugins.sbt
Due: Label core PRs, Label css PRs

Dedupe packageSrc mappings
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaWorkflowSyntaxPlugin.scala
Due: Label core PRs

Add the sbt 2 porting guide
  CLAUDE.md
  README.md
  docs/sbt-2-migration.md
Due: none

Uncache the remaining side-effecting tasks
  core/src/main/scala/lucuma/sbtplugin/LucumaScalafixPlugin.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaScalafmtPlugin.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaSlackPlugin.scala
  core/src/sbt-test/lucuma-slack/basic/test
Due: Label core PRs

higher effort to determine base commit in all scenarios
  .github/workflows/ci.yml
  core/src/main/scala/lucuma/sbtplugin/AffectedProjects.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaAffectedPlugin.scala
  core/src/sbt-test/lucuma-affected/gated-job/build.sbt
  core/src/sbt-test/lucuma-affected/gated-job/test
  core/src/test/scala/lucuma/sbtplugin/AffectedProjectsSuite.scala
Due: Label core PRs

Bring in sbt-revolver and quiet the native-packager lint
  .gitignore
  README.md
  build.sbt
  docker/src/main/scala/lucuma/sbtplugin/LucumaDockerPlugin.scala
  docs/sbt-2-migration.md
Due: none

never narrow a tag, even when it carries a push base
  core/src/main/scala/lucuma/sbtplugin/AffectedProjects.scala
  core/src/test/scala/lucuma/sbtplugin/AffectedProjectsSuite.scala
Due: Label core PRs

Move sbt-revolver to sbt-lucuma-docker
  README.md
  build.sbt
  docs/sbt-2-migration.md
Due: none

We don't need to add dependency tree plugin
  docs/sbt-2-migration.md
Due: none

Sort the generated target directories
  .github/workflows/ci.yml
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
  docs/sbt-2-migration.md
Due: Label core PRs

fix documentation
  README.md
  core/src/main/scala/lucuma/sbtplugin/AffectedProjects.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaAffectedPlugin.scala
Due: Label core PRs

defense against spurious update failures in CI
  .github/workflows/ci.yml
  README.md
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
Due: Label core PRs

address pr comments
  README.md
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
Due: Label core PRs

Declare the root project even when nothing forces it
  docs/sbt-2-migration.md
Due: none

Set build-visible properties on the CI job, not a step
  docs/sbt-2-migration.md
Due: none

Drop the scalafixAll workaround
  .github/workflows/ci.yml
  README.md
  core/src/main/scala/lucuma/sbtplugin/LucumaWorkflowSyntaxPlugin.scala
  docs/sbt-2-migration.md
Due: Label core PRs

Make the lucuma-css output directory configurable
  README.md
  css/src/main/scala/lucuma/sbtplugin/LucumaCssPlugin.scala
Due: Label css PRs

Warn that setting SBT_OPTS discards the coursier retry
  docs/sbt-2-migration.md
Due: none

Make the task lucumaTestAffected runs a setting
  README.md
  core/src/main/scala/lucuma/sbtplugin/LucumaAffectedPlugin.scala
  docs/sbt-2-test-caching.md
Due: Label core PRs

Fail open when git cannot compute the diff
  core/src/main/scala/lucuma/sbtplugin/LucumaAffectedPlugin.scala
Due: Label core PRs

Doc updates
  docs/sbt-2-migration.md
Due: none

Apply the sbt cache key rewrite to the final job list
  README.md
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
Due: Label core PRs

Apply the sbt cache key to the affected job too
  core/src/main/scala/lucuma/sbtplugin/LucumaAffectedPlugin.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
Due: Label core PRs

add regression test
  core/src/sbt-test/lucuma-dependency-cache/key/a/src/main/scala/A.scala
  core/src/sbt-test/lucuma-dependency-cache/key/build.sbt
  core/src/sbt-test/lucuma-dependency-cache/key/project/build.properties
  core/src/sbt-test/lucuma-dependency-cache/key/project/plugins.sbt
  core/src/sbt-test/lucuma-dependency-cache/key/test
Due: Label core PRs

retry update task
  .github/workflows/ci.yml
  README.md
  core/src/main/scala/lucuma/sbtplugin/LucumaAffectedPlugin.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
  core/src/sbt-test/lucuma-dependency-cache/key/build.sbt
Due: Label core PRs

Path conditions:
  Label app PRs: any of: ^app/
  Label core PRs: any of: ^core/
  Label css PRs: any of: ^css/
  Label lib PRs: any of: ^lib/
  Label sjs-bundler PRs: any of: ^sjs-bundler/
