Repository gemini-hlsw/sbt-lucuma: changes, and which Mergify rules are due for each by the changed paths.
All: Label app PRs, Label core PRs, Label css PRs, Label lib PRs, Label sjs-bundler PRs

Label app PRs:
  label:
    add:
    - app
    remove: []

Label core PRs:
  label:
    add:
    - core
    remove: []

Label css PRs:
  label:
    add:
    - css
    remove: []

Label lib PRs:
  label:
    add:
    - lib
    remove: []

Label sjs-bundler PRs:
  label:
    add:
    - sjs-bundler
    remove: []

Update to SJS 1.11.0
  build.sbt
Due: none

Fix `fullLinkJS` override in lucuma-css
  css/src/main/scala/lucuma/sbtplugin/LucumaCssPlugin.scala
Due: Label css PRs

Update to scalafmt 3.6.0
  .scalafmt-common.conf
  core/src/main/resources/lucuma/sbtplugin/scalafmt-common.conf
Due: Label core PRs

Support caching for lucuma-css
  css/src/main/scala/lucuma/sbtplugin/LucumaCssPlugin.scala
Due: Label css PRs

Make eviction errors non-fatal on JS
  core/src/main/scala/lucuma/sbtplugin/LucumaScalaJSPlugin.scala
Due: Label core PRs

Override `gitUncommittedChanges` setting
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
Due: Label core PRs

Add mergify rule for flake updates
  .mergify.yml
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
Due: Label core PRs

2023
  app/src/main/scala/lucuma/sbtplugin/LucumaAppPlugin.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaBundleMonPlugin.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaScalaJSPlugin.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaScalafixPlugin.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaScalafmtPlugin.scala
  css/src/main/scala/lucuma/sbtplugin/LucumaCssPlugin.scala
  lib/src/main/scala/lucuma/sbtplugin/LucumaLibPlugin.scala
  sjs-bundler/src/main/scala/lucuma/sbtplugin/LucumaSJSBundlerPlugin.scala
Due: Label app PRs, Label core PRs, Label css PRs, Label lib PRs, Label sjs-bundler PRs

Update to scalafmt 3.6.1
  .scalafmt-common.conf
  core/src/main/resources/lucuma/sbtplugin/scalafmt-common.conf
Due: Label core PRs

Update to scalafmt 3.7.2
  .scalafmt-common.conf
  core/src/main/resources/lucuma/sbtplugin/scalafmt-common.conf
  core/src/main/scala/lucuma/sbtplugin/LucumaScalafixPlugin.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaScalafmtPlugin.scala
  sjs-bundler/src/main/scala/lucuma/sbtplugin/LucumaSJSBundlerPlugin.scala
Due: Label core PRs, Label sjs-bundler PRs

Upstream hacked JSDOM env
  build.sbt
  jsdom/src/main/scala/lucuma/LucumaJSDOMNodeJSEnv.scala
Due: none

Regenerate workflow
  .mergify.yml
Due: none

organize imports
  jsdom/src/main/scala/lucuma/LucumaJSDOMNodeJSEnv.scala
Due: none

Add sbt-updates plugin
  build.sbt
Due: none

Update to sbt-typelevel 0.5.0-RC1
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
  project/plugins.sbt
Due: Label core PRs

Other cleanups
  .scalafmt-common.conf
  core/src/main/resources/lucuma/sbtplugin/scalafmt-common.conf
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
Due: Label core PRs

Set `tlJdkRelease := None`
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
Due: Label core PRs

Use JDK 17 specifically
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
Due: Label core PRs

Disable dependency submission
  .github/workflows/ci.yml
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
Due: Label core PRs

Update scalafmt to 3.7.7
  .scalafmt-common.conf
  core/src/main/resources/lucuma/sbtplugin/scalafmt-common.conf
Due: Label core PRs

Try to fix coverage
  .github/workflows/ci.yml
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
Due: Label core PRs

Add myself as a developer
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
Due: Label core PRs

Add scalafmt version to `.scalafmt.conf`
  .scalafmt.conf
Due: none

Try to fix scalafmt updates
  .scala-steward.conf
  .scalafmt.conf
Due: none

Correctly handle directories in css plugin
  css/src/main/scala/lucuma/sbtplugin/LucumaCssPlugin.scala
  css/src/sbt-test/lucuma-css/example/modules/bar/src/main/resources/lucuma-css/nested/qux.css
  css/src/sbt-test/lucuma-css/example/test
Due: Label css PRs

Update scalafmt
  .scalafmt-common.conf
  core/src/main/resources/lucuma/sbtplugin/scalafmt-common.conf
Due: Label core PRs

Bump scalafmt
  .scalafmt-common.conf
  core/src/main/resources/lucuma/sbtplugin/scalafmt-common.conf
Due: Label core PRs

Re-use existing header/scalafmt check step
  .github/workflows/ci.yml
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
Due: Label core PRs

increase maxVisitsPerToken for scalafmt
  .scalafmt-common.conf
  core/src/main/resources/lucuma/sbtplugin/scalafmt-common.conf
Due: Label core PRs

increase scalafmt limits even more
  .scalafmt-common.conf
  core/src/main/resources/lucuma/sbtplugin/scalafmt-common.conf
Due: Label core PRs

Fix command aliases
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
Due: Label core PRs

Bump scalafmt
  .scalafmt-common.conf
  .scalafmt.conf
  core/src/main/resources/lucuma/sbtplugin/scalafmt-common.conf
Due: Label core PRs

Add IsReactActEnvironment to globals
  jsdom/src/main/scala/lucuma/LucumaJSDOMNodeJSEnv.scala
Due: none

Update codecov-action to v4
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
Due: Label core PRs

Update ci.yml
  .github/workflows/ci.yml
Due: none

Update scalajs to 1.16.0
  build.sbt
Due: none

Fix: add targetDialect Scala3
  .scalafix-common.conf
  core/src/main/resources/lucuma/sbtplugin/scalafix-common.conf
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
Due: Label core PRs

Use targetDialect auto
  .scalafix-common.conf
  core/src/main/resources/lucuma/sbtplugin/scalafix-common.conf
Due: Label core PRs

Scalafixall
  app/src/main/scala/lucuma/sbtplugin/LucumaAppPlugin.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaBundleMonPlugin.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaScalaJSPlugin.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaScalafixPlugin.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaScalafmtPlugin.scala
  css/src/main/scala/lucuma/sbtplugin/LucumaCssPlugin.scala
  jsdom/src/main/scala/lucuma/LucumaJSDOMNodeJSEnv.scala
  lib/src/main/scala/lucuma/sbtplugin/LucumaLibPlugin.scala
  sjs-bundler/src/main/scala/lucuma/sbtplugin/LucumaSJSBundlerPlugin.scala
Due: Label app PRs, Label core PRs, Label css PRs, Label lib PRs, Label sjs-bundler PRs

Bump scalafmt version
  core/src/main/resources/lucuma/sbtplugin/scalafmt-common.conf
Due: Label core PRs

Path conditions:
  Label app PRs: any of: ^app/
  Label core PRs: any of: ^core/
  Label css PRs: any of: ^css/
  Label lib PRs: any of: ^lib/
  Label sjs-bundler PRs: any of: ^sjs-bundler/
