Repository gemini-hlsw/sbt-lucuma: changes, and which Mergify rules are due for each by the changed paths.
All: Label app PRs, Label core PRs, Label css PRs, Label lib PRs, Label sjs-bundler PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 2.12.16, temurin@17)
  actions:
    merge: {}
- name: Label app PRs
  conditions:
  - files~=^app/
  actions:
    label:
      add:
      - app
      remove: []
- name: Label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label css PRs
  conditions:
  - files~=^css/
  actions:
    label:
      add:
      - css
      remove: []
- name: Label lib PRs
  conditions:
  - files~=^lib/
  actions:
    label:
      add:
      - lib
      remove: []
- name: Label sjs-bundler PRs
  conditions:
  - files~=^sjs-bundler/
  actions:
    label:
      add:
      - sjs-bundler
      remove: []

avoid using dynver
  app/src/main/scala/lucuma/sbtplugin/LucumaAppPlugin.scala
  build.sbt
Due: Label app PRs

scalafix
  app/src/main/scala/lucuma/sbtplugin/LucumaAppPlugin.scala
Due: Label app PRs

make app plugin settings global again
  app/src/main/scala/lucuma/sbtplugin/LucumaAppPlugin.scala
Due: Label app PRs

reinstate the recently lost hyphen
  app/src/main/scala/lucuma/sbtplugin/LucumaAppPlugin.scala
Due: Label app PRs

auto-apply app plugin
  app/src/main/scala/lucuma/sbtplugin/LucumaAppPlugin.scala
Due: Label app PRs

Add continueOnError
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
Due: Label core PRs

Update imports
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
Due: Label core PRs

force docker manifest version accepted by heroku
  docker/src/main/scala/lucuma/sbtplugin/LucumaDockerPlugin.scala
Due: none

add comment
  docker/src/main/scala/lucuma/sbtplugin/LucumaDockerPlugin.scala
Due: none

Update scalajs
  build.sbt
  project/plugins.sbt
Due: none

Remove sjs-bundler
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
  sjs-bundler/src/main/scala/lucuma/sbtplugin/LucumaSJSBundlerPlugin.scala
  sjs-bundler/src/sbt-test/lucuma-sjs-bundler/example/build.sbt
  sjs-bundler/src/sbt-test/lucuma-sjs-bundler/example/modules/foo/package.json
  sjs-bundler/src/sbt-test/lucuma-sjs-bundler/example/package.json
  sjs-bundler/src/sbt-test/lucuma-sjs-bundler/example/project/build.properties
  sjs-bundler/src/sbt-test/lucuma-sjs-bundler/example/project/plugins.sbt
  sjs-bundler/src/sbt-test/lucuma-sjs-bundler/example/test
  sjs-bundler/src/sbt-test/lucuma-sjs-bundler/root/build.sbt
  sjs-bundler/src/sbt-test/lucuma-sjs-bundler/root/modules/foo/package.json
  sjs-bundler/src/sbt-test/lucuma-sjs-bundler/root/package.json
  sjs-bundler/src/sbt-test/lucuma-sjs-bundler/root/project/build.properties
  sjs-bundler/src/sbt-test/lucuma-sjs-bundler/root/project/plugins.sbt
  sjs-bundler/src/sbt-test/lucuma-sjs-bundler/root/test
Due: Label core PRs, Label sjs-bundler PRs

Update to JDK 25
  .github/workflows/ci.yml
  .mergify.yml
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
  docker/src/main/scala/lucuma/sbtplugin/LucumaDockerPlugin.scala
Due: Label core PRs

Set tlJdkRelease to 25
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
Due: Label core PRs

Update scalaVersion
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
Due: Label core PRs

Add removeUnused to OrganizeImports rule and update scalafmt version
  .scalafix-common.conf
  .scalafmt-common.conf
  core/src/main/resources/lucuma/sbtplugin/scalafix-common.conf
  core/src/main/resources/lucuma/sbtplugin/scalafmt-common.conf
Due: Label core PRs

Update scala to 3.8.4
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
Due: Label core PRs

ignore flaky tests in Scala.js
  core/src/main/scala/lucuma/sbtplugin/LucumaScalaJSPlugin.scala
  flake.lock
  flake.nix
Due: Label core PRs

add README details
  README.md
Due: none

add claude.md
  CLAUDE.md
Due: none

Update default scala version and disable scoverage
  .github/workflows/ci.yml
  README.md
  app/src/main/scala/lucuma/sbtplugin/LucumaAppPlugin.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaBundleMonPlugin.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaScalaJSPlugin.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaScalafixPlugin.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaScalafmtPlugin.scala
  css/src/main/scala/lucuma/sbtplugin/LucumaCssPlugin.scala
  docker/src/main/scala/lucuma/sbtplugin/LucumaDockerPlugin.scala
  jsdom/src/main/scala/lucuma/LucumaJSDOMNodeJSEnv.scala
  lib/src/main/scala/lucuma/sbtplugin/LucumaLibPlugin.scala
Due: Label app PRs, Label core PRs, Label css PRs, Label lib PRs

Remove scoverage
  README.md
  build.sbt
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
  project/plugins.sbt
Due: Label core PRs

only run tests that need running
  .github/workflows/ci.yml
  CLAUDE.md
  README.md
  build.sbt
  core/src/main/scala/lucuma/sbtplugin/AffectedProjects.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaAffectedPlugin.scala
  core/src/sbt-test/lucuma-affected/basic/a/src/main/scala/a1.scala
  core/src/sbt-test/lucuma-affected/basic/b/src/main/scala/b1.scala
  core/src/sbt-test/lucuma-affected/basic/build.sbt
  core/src/sbt-test/lucuma-affected/basic/c/src/main/scala/c1.scala
  core/src/sbt-test/lucuma-affected/basic/changed.txt
  core/src/sbt-test/lucuma-affected/basic/diffs/a.txt
  core/src/sbt-test/lucuma-affected/basic/diffs/buildsbt.txt
  core/src/sbt-test/lucuma-affected/basic/diffs/c.txt
  core/src/sbt-test/lucuma-affected/basic/diffs/ignored.txt
  core/src/sbt-test/lucuma-affected/basic/diffs/shared.txt
  core/src/sbt-test/lucuma-affected/basic/diffs/unknown.txt
  core/src/sbt-test/lucuma-affected/basic/project/build.properties
  core/src/sbt-test/lucuma-affected/basic/project/plugins.sbt
  core/src/sbt-test/lucuma-affected/basic/shared/src/main/scala/S1.scala
  core/src/sbt-test/lucuma-affected/basic/test
  core/src/sbt-test/lucuma-affected/basic/x/src/main/scala/x1.scala
  core/src/test/scala/lucuma/sbtplugin/AffectedProjectsSuite.scala
Due: Label core PRs

test sharding plugin
  CLAUDE.md
  README.md
  build.sbt
  core/src/main/scala/lucuma/sbtplugin/LucumaShardingPlugin.scala
  core/src/sbt-test/lucuma-sharding/basic/a/src/main/scala/A.scala
  core/src/sbt-test/lucuma-sharding/basic/build.sbt
  core/src/sbt-test/lucuma-sharding/basic/project/build.properties
  core/src/sbt-test/lucuma-sharding/basic/project/plugins.sbt
  core/src/sbt-test/lucuma-sharding/basic/test
  project/plugins.sbt
Due: Label core PRs

shrink down ignore paths list, keep docs and well known env configs
  README.md
  core/src/main/scala/lucuma/sbtplugin/AffectedProjects.scala
  core/src/test/scala/lucuma/sbtplugin/AffectedProjectsSuite.scala
Due: Label core PRs

unify logic across tasks
  core/src/main/scala/lucuma/sbtplugin/LucumaAffectedPlugin.scala
  core/src/sbt-test/lucuma-affected/basic/build.sbt
  core/src/sbt-test/lucuma-affected/basic/d/src/main/scala/d1.scala
  core/src/sbt-test/lucuma-affected/basic/test
Due: Label core PRs

don't skip tests: reuse the task in lucumaTestAffected, keep aggregators that own tests
  core/src/main/scala/lucuma/sbtplugin/LucumaAffectedPlugin.scala
  core/src/sbt-test/lucuma-affected/basic/build.sbt
  core/src/sbt-test/lucuma-affected/basic/diffs/e.txt
  core/src/sbt-test/lucuma-affected/basic/e/src/main/scala/e1.scala
  core/src/sbt-test/lucuma-affected/basic/e/src/test/scala/E1Test.scala
  core/src/sbt-test/lucuma-affected/basic/test
  core/src/test/scala/lucuma/sbtplugin/AffectedProjectsSuite.scala
Due: Label core PRs

rewrite the test step so TypelevelCiJSPlugin still finds it
  core/src/main/scala/lucuma/sbtplugin/LucumaAffectedPlugin.scala
Due: Label core PRs

add test
  core/src/sbt-test/lucuma-affected/scalajs/build.sbt
  core/src/sbt-test/lucuma-affected/scalajs/model/src/main/scala/Model.scala
  core/src/sbt-test/lucuma-affected/scalajs/project/build.properties
  core/src/sbt-test/lucuma-affected/scalajs/project/plugins.sbt
  core/src/sbt-test/lucuma-affected/scalajs/test
Due: Label core PRs

generalize affected mechanism to any task
  README.md
  core/src/main/scala/lucuma/sbtplugin/AffectedProjects.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaAffectedPlugin.scala
  core/src/sbt-test/lucuma-affected/gated-job/a/src/main/scala/A.scala
  core/src/sbt-test/lucuma-affected/gated-job/build.sbt
  core/src/sbt-test/lucuma-affected/gated-job/project/build.properties
  core/src/sbt-test/lucuma-affected/gated-job/project/plugins.sbt
  core/src/sbt-test/lucuma-affected/gated-job/test
Due: Label core PRs

use projects instead of strings for job dependencies
  README.md
  core/src/main/scala/lucuma/sbtplugin/LucumaAffectedPlugin.scala
  core/src/sbt-test/lucuma-affected/gated-job/b/src/main/scala/B.scala
  core/src/sbt-test/lucuma-affected/gated-job/build.sbt
Due: Label core PRs

address pr comments
  core/src/main/scala/lucuma/sbtplugin/AffectedProjects.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaAffectedPlugin.scala
  core/src/sbt-test/lucuma-affected/gated-job/build.sbt
  core/src/sbt-test/lucuma-affected/gated-job/test
  core/src/test/scala/lucuma/sbtplugin/AffectedProjectsSuite.scala
Due: Label core PRs

make affected mechanism work on merges to main
  README.md
  core/src/main/scala/lucuma/sbtplugin/LucumaAffectedPlugin.scala
  core/src/sbt-test/lucuma-affected/gated-job/build.sbt
Due: Label core PRs

run test instead of Test/test
  core/src/main/scala/lucuma/sbtplugin/LucumaAffectedPlugin.scala
Due: Label core PRs

generate and check task to check ci runs on merge
  .github/workflows/ci-failure-slack.yml
  .github/workflows/ci.yml
  CLAUDE.md
  README.md
  build.sbt
  core/src/main/scala/lucuma/sbtplugin/LucumaAffectedPlugin.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaSlackPlugin.scala
  core/src/sbt-test/lucuma-slack/basic/a/src/main/scala/A.scala
  core/src/sbt-test/lucuma-slack/basic/build.sbt
  core/src/sbt-test/lucuma-slack/basic/project/build.properties
  core/src/sbt-test/lucuma-slack/basic/project/plugins.sbt
  core/src/sbt-test/lucuma-slack/basic/test
Due: Label core PRs

scalafmt
  core/src/main/scala/lucuma/sbtplugin/LucumaSlackPlugin.scala
Due: Label core PRs

fix test
  core/src/sbt-test/lucuma-slack/basic/tampered.yml
  core/src/sbt-test/lucuma-slack/basic/test
Due: Label core PRs

gate steps instead of jobs
  README.md
  core/src/main/scala/lucuma/sbtplugin/LucumaAffectedPlugin.scala
  core/src/sbt-test/lucuma-affected/gated-job/build.sbt
Due: Label core PRs

fix readme
  README.md
Due: none

generated job to aggregate required CI tasks
  .github/workflows/ci.yml
  CLAUDE.md
  README.md
  core/src/main/scala/lucuma/sbtplugin/LucumaAffectedPlugin.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaRequiredChecksPlugin.scala
  core/src/sbt-test/lucuma-required-checks/basic/a/src/main/scala/A.scala
  core/src/sbt-test/lucuma-required-checks/basic/build.sbt
  core/src/sbt-test/lucuma-required-checks/basic/project/build.properties
  core/src/sbt-test/lucuma-required-checks/basic/project/plugins.sbt
  core/src/sbt-test/lucuma-required-checks/basic/test
Due: Label core PRs

scalafmt
  core/src/main/scala/lucuma/sbtplugin/LucumaRequiredChecksPlugin.scala
Due: Label core PRs
