Repository gemini-hlsw/sbt-lucuma: changes, and which Mergify rules are due for each by the changed paths.
All: Label app PRs, Label core PRs, Label css PRs, Label lib PRs, Label sjs-bundler PRs

Label app PRs:
  label:
    add:
    - app
    remove: []

Label core PRs:
  label:
    add:
    - core
    remove: []

Label css PRs:
  label:
    add:
    - css
    remove: []

Label lib PRs:
  label:
    add:
    - lib
    remove: []

Label sjs-bundler PRs:
  label:
    add:
    - sjs-bundler
    remove: []

scalafmtGenerate
  .scalafmt-common.conf
Due: none

Replace step.copy
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
Due: Label core PRs

Update scala.js version
  build.sbt
  sjs-bundler/src/sbt-test/lucuma-sjs-bundler/example/project/plugins.sbt
  sjs-bundler/src/sbt-test/lucuma-sjs-bundler/root/project/plugins.sbt
Due: Label sjs-bundler PRs

Use Usage: docker compose [OPTIONS] COMMAND
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
Due: Label core PRs

docker compose
  build.sbt
Due: none

Change setting, as suggested
  lib/src/main/scala/lucuma/sbtplugin/LucumaLibPlugin.scala
Due: Label lib PRs

Add flake
  .envrc
  .gitignore
  flake.lock
  flake.nix
Due: none

Temprory fix - set githubWorkflowOSes to ubuntu-22
  .github/workflows/ci.yml
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
Due: Label core PRs

Change lib settings as suggested in build failure.
  lib/src/main/scala/lucuma/sbtplugin/LucumaLibPlugin.scala
Due: Label lib PRs

Revert "Change lib settings as suggested in build failure."
  lib/src/main/scala/lucuma/sbtplugin/LucumaLibPlugin.scala
Due: Label lib PRs

Remove unnecessary setting
  lib/src/main/scala/lucuma/sbtplugin/LucumaLibPlugin.scala
Due: Label lib PRs

Remove unused import
  lib/src/main/scala/lucuma/sbtplugin/LucumaLibPlugin.scala
Due: Label lib PRs

Update scalafmt
  .scalafmt-common.conf
  core/src/main/resources/lucuma/sbtplugin/scalafmt-common.conf
Due: Label core PRs

Update scalajs to 1.17
  build.sbt
Due: none

Silence warnings for `WitnessAs`
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
Due: Label core PRs

Use regex to handle fqn of WitnessAs warning
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
Due: Label core PRs

Update nix definition
  .envrc
  .gitignore
  flake.lock
  flake.nix
Due: none

Update scalajs
  build.sbt
Due: none

Update scala.js
  build.sbt
Due: none

update tlCiReleaseBranches reference to main branch
  .github/workflows/ci.yml
  build.sbt
Due: none

Don't fail the build if bundlemon fails
  core/src/main/scala/lucuma/sbtplugin/LucumaBundleMonPlugin.scala
Due: Label core PRs

Update java version
  flake.nix
Due: none

update (c) year
  app/src/main/scala/lucuma/sbtplugin/LucumaAppPlugin.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaBundleMonPlugin.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaScalaJSPlugin.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaScalafixPlugin.scala
  core/src/main/scala/lucuma/sbtplugin/LucumaScalafmtPlugin.scala
  css/src/main/scala/lucuma/sbtplugin/LucumaCssPlugin.scala
  jsdom/src/main/scala/lucuma/LucumaJSDOMNodeJSEnv.scala
  lib/src/main/scala/lucuma/sbtplugin/LucumaLibPlugin.scala
  sjs-bundler/src/main/scala/lucuma/sbtplugin/LucumaSJSBundlerPlugin.scala
Due: Label app PRs, Label core PRs, Label css PRs, Label lib PRs, Label sjs-bundler PRs

This is not working
  core/src/main/scala/lucuma/sbtplugin/LucumaBundleMonPlugin.scala
Due: Label core PRs

bump scalajs, headers
  build.sbt
Due: none

Add `-Wunused:nowarn`
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
Due: Label core PRs

Update typelvel sbt
  build.sbt
  project/build.properties
Due: none

Update sbt-typelevel and experiment with worktrees
  core/src/main/scala/lucuma/sbtplugin/LucumaPlugin.scala
  css/src/sbt-test/lucuma-css/example/project/build.properties
  sjs-bundler/src/sbt-test/lucuma-sjs-bundler/example/project/build.properties
  sjs-bundler/src/sbt-test/lucuma-sjs-bundler/root/project/build.properties
Due: Label core PRs, Label css PRs, Label sjs-bundler PRs

bump sbtTypelevel
  build.sbt
  project/plugins.sbt
Due: none

add new sbt-lucuma-docker plugin
  .gitignore
  build.sbt
  docker/src/main/resources/lucuma/sbtplugin/heroku-docker-set-memory.sh
  docker/src/main/scala/lucuma/sbtplugin/LucumaDockerPlugin.scala
  project/plugins.sbt
Due: none

move docker configuration to settings
  docker/src/main/resources/lucuma/sbtplugin/heroku-docker-set-memory.sh
  docker/src/main/scala/lucuma/sbtplugin/LucumaDockerPlugin.scala
Due: none

regenerate workflow
  .mergify.yml
Due: none

bump base version
  build.sbt
Due: none

move more docker options here
  docker/src/main/scala/lucuma/sbtplugin/LucumaDockerPlugin.scala
Due: none

better estimation of max heap
  build.sbt
  docker/src/main/resources/lucuma/sbtplugin/docker-set-memory.sh
  docker/src/main/scala/lucuma/sbtplugin/LucumaDockerPlugin.scala
Due: none

set maxRAM in docker images, other improvements
  docker/src/main/resources/lucuma/sbtplugin/docker-set-memory.sh
  docker/src/main/scala/lucuma/sbtplugin/LucumaDockerPlugin.scala
Due: none

bundle heroku jvm agent in docker deploys
  docker/src/main/resources/lucuma/sbtplugin/docker-set-memory.sh
  docker/src/main/scala/lucuma/sbtplugin/LucumaDockerPlugin.scala
Due: none

Update scalajs to 1.20.1
  build.sbt
Due: none

auto-update heroku agent version
  build.sbt
  docker/src/main/scala/lucuma/sbtplugin/LucumaDockerPlugin.scala
  project/plugins.sbt
Due: none

Update scalamt version
  .scalafmt-common.conf
  .scalafmt.conf
  core/src/main/resources/lucuma/sbtplugin/scalafmt-common.conf
Due: Label core PRs

Path conditions:
  Label app PRs: any of: ^app/
  Label core PRs: any of: ^core/
  Label css PRs: any of: ^css/
  Label lib PRs: any of: ^lib/
  Label sjs-bundler PRs: any of: ^sjs-bundler/
